body{
    margin: 0;
    padding: 0;
    font-family: Bahnschrift, serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
:root{
    --ctct-clr-rem_color: #22bbbb;
    --vwc-sze-add_color: #59c971;
    --color_white: #fff;

    --all_width: 22.3%;
    --article_width: 20%;
    --article_size1: 15px;
    --article_weight1: bold;
}


.prd_im1{
    /*border: 1px solid cornflowerblue;*/
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 90px;
    text-align: center;
    justify-content: center;
    top: 0;
    z-index: 99999;
    padding-left: 100px;
}


.prn_img{
    /*border: 1px solid #0b0d8d;*/
    height: 500px;
    border-radius: 4px;
    cursor: default;
    width: 100%!important;
    display: flex;
    flex: 1 0 100%;
    box-shadow: 0 1px 3px rgba(207, 210, 210, 0.76);
}
.prn_img img{
    width: 100%;
    height: 100%;
    margin-left: 0;
    border-radius: 4px;
    cursor: default;
}

.diapo__{
    position: relative;
    display:flex;
    height: 100%;
    overflow: hidden;
    width: 570px !important;
    border-radius: 4px;
    margin-left: 0;
    margin-right: 50px;
    /*border: 1px solid crimson!important;*/
}

.arbo{
    position: absolute;
    margin-top: -2%;
    float: left;
    left: 165px;
    /*border: 1px solid crimson!important;*/
    color: crimson!important;
    display: flex;
}
.arbo a{
    color: #090808 !important;
    text-decoration: none!important;
    font-size: 11.5px;
}
.arbo a:hover{
    color: coral !important;
}
#arbo_pn{
    margin-left: 5px;
}


.all_img{
    position: relative;
    display:flex;
    height: 100.5%;
    transition: 0.6s linear;
}

#nav_left_, #nav_right_, #options__{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    position: absolute;
    margin-top: 40%;
    background-color: rgba(255, 255, 255, 0.35);
    padding: 8px;
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: .6s linear;
    opacity: 1;
}
#options__{
    width: 30px;
    height: 30px;
    margin-top: 1%;
    float: right;
    right: 8px;
    transform: rotate(90deg);
}
.opts_{
    position: absolute;
    background-color: white;
    width: 70px;
    height: 60px;
    font-size: 11px;
    border-radius: 3px;
    float: right;
    right: 8px;
    margin-top: 45px;
    text-align: start;
    padding-left: 5px;
    padding-top: 5px;
    text-transform: capitalize;
    display: none;
}
#new_post, #vs{
    color: black;
    text-decoration: none!important;
    cursor: pointer;
}
#new_post:hover, #vs:hover{
    color: darkcyan;
}


#nav_left_ img, #nav_right_ img,  #options__ img{
    width: 100%;
    height: 100%;
}
#nav_left_{
    float: left;
    left: 8px;
}
#nav_right_{
    float: right;
    right: 8px;
}
#nav_left_:hover, #nav_right_:hover, #options__:hover{
    background-color: rgba(255, 255, 255, 0.76);
}



.contner{
    margin-top: 505px;
    display: block;
    width: 42.3%;
    height: 95px;
    /*border: 1px solid crimson;*/
    border-radius: 4px ;
    margin-left: -34.1rem;
    position: absolute;
}

.carr{
    width: 25%;
    height: 100%;
    margin-left: 0;
    float: left;
    right: 0;
    transition: 0.3s linear;
}
.carr:hover{
    width: 17%;
    transform: scale(2);
}

.carr img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}


.info{
    /*border: 1px solid #b15814;*/
    width: 40%;
    height: auto;
    display: block;
    padding-top: 5px;
    justify-content: left;
    text-align: left;
}
.p_nm{
    font-size: 30px;
    font-weight: bold;
    color: #dc7114;
}
.p_pce{
    font-size: 26px;
    font-weight: bold;
    color: #089e7b;
}
.p_pce del{
    font-size: 15px;
    font-weight: 500;
    color: crimson;
    letter-spacing: 0;
    margin-left: 10px;
}


.p_pce sup, .sp_promo{
    font-size: 15px;
    margin-left: 0;
    font-weight: bold;
    color: #089e7b;
    letter-spacing: 0;
}
.sp_promo{
    font-size: 12px!important;
    color: crimson !important;
}

.p_rt{
    font-size: 12px;
}
.p_rt::before{
    content: 'Rate :    ';
    font-size: 13px;
    font-weight: bold;
}

.p_qte{
    font-size: 12px;
}
.p_qte::before{
    content: 'Stock :    ';
    font-size: 13px;
    font-weight: bold;
}
.p_qte::after{
    content: 'product(s) available';
    margin-left: 5px;
}


.p_typ{
    font-size: 11px;
}
.p_typ::before{
    content: 'Sub category :    ';
    font-size: 13px;
    font-weight: bold;
}


.p_carc{
    width: 350px;
    font-size: 13px;
}
.p_carc::before{
    font-size: 13px;
    font-weight: bold;
    content: 'Proprities :   ';
}


.btn, .clr__sze, .qte__{
    /*border: 1px solid #b15814;*/
    width: 75%;
    height: auto;
    display: inline-flex;
    padding-left: 0;

}


#prd_clr, #prd_sze{
    width: 180px;
    font-size: 13px;
    height: 50px;
    font-weight: 500;
    background-color: transparent;
    outline: none!important;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-top: 10px;
    transition-duration: .5s;
}
#prd_clr{
    width: 186px;
    color: var(--color_white);
    background-color: var(--ctct-clr-rem_color);
    border: 2px solid var(--ctct-clr-rem_color);
    margin-right: 5px;
}
#prd_sze{
    width: 187px;
    margin-left: 6px;
    margin-right: 1px;
    color: var(--color_white);
    background-color: var(--vwc-sze-add_color);
    border: 2px solid var(--vwc-sze-add_color);

}

.contant_saler{
    width: 180px;
    font-size: 13px;
    height: 60px;
    color: var(--color_white);
    background-color: var(--ctct-clr-rem_color);
    border: 2px solid var(--ctct-clr-rem_color);
    font-weight: 500;
    outline: none!important;
    border-radius: 4px;
    transition-duration: .5s;
    margin-left: -1px;
    margin-right: 0;
}
.contant_saler:hover, #prd_clr:hover, .rem_prd:hover{
    font-size: 13px;
    font-weight: 500;
    color: var(--ctct-clr-rem_color);
    background-color: transparent;
    border-color: var(--ctct-clr-rem_color);
}

.btn-lg{
    width: 180px;
    font-size: 13px;
    height: 60px;
    font-weight: 500;
    color: var(--color_white);
    background-color: var(--vwc-sze-add_color);
    border: 2px solid var(--vwc-sze-add_color);
    outline: none!important;
    border-radius: 4px;
    margin-left: 14.2%;
    position: absolute;
    transition-duration: .5s;
}
.btn-lg:hover, #prd_sze:hover, .add_prd:hover{
    font-size: 13px;
    font-weight: 500;
    color: var(--vwc-sze-add_color);
    background-color: transparent;
    border-color: var(--vwc-sze-add_color);
}

.add_prd, .prd_count, .rem_prd{
    width: 80px;
    height: 80px;
    outline: none!important;
    background: transparent;
    font-size: 19px;
    border-radius: 6px;
    margin-top: 5px;
    margin-right: 20px;
}

.prd_count{
    width: 175px;
    cursor: default!important;
    border: 2px solid rgba(184, 183, 182, 0.7);
    color: rgba(184, 183, 182, 0.7);
    margin-left: 0;
}
.add_prd{
    color: var(--color_white);
    background-color: var(--vwc-sze-add_color);
    border: 2px solid var(--vwc-sze-add_color);
    float: right;
    margin-left: 21.7%;
    margin-top: 4.5px;
    position: absolute;
}
.rem_prd{
    color: var(--color_white);
    background-color: var(--ctct-clr-rem_color);
    border: 2px solid var(--ctct-clr-rem_color);
}

.cntc_saler{
    border: 1px solid rgba(234, 233, 233, 0.27);
    width: 73%;
    height: 90px;
    border-radius: 4px;
    text-align: center;
    margin-top: 15px;
    padding-left: 17%;
    display: flex;
    visibility: hidden;
    transition-duration: .8s;
    position: relative;
}

.cntc_saler:hover{
    border: 1px solid #03e3e3;
}

.cntc_saler button{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 13px;
    outline: none!important;
    margin-top: 8%;
    transition-duration: .6s;
}
.cntc_saler button:hover{
    transform: scale(1.2);
}

.chat{
    z-index: 999999999999;
    background-color: #fff;
    position: fixed;
    top: 79%;
    left: 70%;
    width: 25%;
    min-height: 80px;
    border-radius: 4px;
    height: auto;
    padding: 25px 10px 0 10px;
    box-shadow: 2px 3px 9px 2px #bdbbbb;
    display: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.chat img{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
}
.chat a{
    font-size: 11px;
    text-decoration: none;
}
.chat_close{
    position: absolute;
    float: right;
    right: 8px;
    top: 1%;
    font-size: 14px;
    outline: none!important;
}
.exchange{
    /*background-color: rgba(2, 0, 0, 0.89);*/
    height: auto;
    max-height: 300px;
    border-radius: 4px;
    padding: 8px 8px 0.5px 8px;
    overflow: visible;
    display: none;
}

.chat p{
    /*border: 1px solid coral;*/
    color: black;
    font-size: 13px;
    padding: 0!important;
    text-align: right;
}

.chat form {
    /*border: 1px solid coral;*/
    height: 50px;
    margin-top: 1%;
    padding: 0!important;
    position: relative;
    padding-top: 80%;
}
.chat textarea{
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 0.5px solid rgba(213, 213, 213, 0.93);
    height: 48% !important;
    /*height: auto;*/
    width: 78%;
    position: absolute;
    top: 52%;
    padding-bottom: 5px;
    font-size: 12px;
    overflow: visible!important;
}
.chat textarea::-webkit-scrollbar{
    display: none;
}

.chat form button{
    width: 20%;
    height: 55%;
    font-size: 11px;
    position: absolute;
    outline: none;
    border: none;
    border-radius: 2px;
    color: white;
    background-color: royalblue;
    top: 47%;
    left: 80%;
}


/***********************************************************************************/
.container{
    margin-top: 10px;
    display: block;
    width: 80%;
    height: 95px;
    /*border: 1px solid crimson;*/
    padding: 0;
    margin-left: 90px;
}

.lg_details{
    /*border: 1px solid #718d0b;*/
    margin-top: -40px;
    margin-bottom: 100px;
    height: auto;
    display: inline-block;
}



.text{
    font-size: 12px!important;
    font-weight: 600;
    margin-bottom: 20px!important;
    padding-bottom: 5px;
    border-bottom: 2px solid coral;
    color: #535252;
    height: 60px!important;
    cursor: pointer;
}


.lt{
    font-size: 13px;
    font-family: Verdana, serif;
    height: 160px;
    /*border: 1px solid #718d0b;*/
    margin-top: 70px;
    margin-left: 75px;
}

.same_sub_c{
    width: 100%;
    display: flex;
    /*border: 1px solid #718d0b;*/
    justify-content: left;
    margin-top: 25px;
    padding-top: 15px;
    margin-left: 75px;
}

.same_sub_c::before{
    content: "Related product(s)";
    font-size: 12px;
    color: #535252;
    position: absolute;
    margin-bottom: 10px;
    border-bottom: 2px solid #ff7f50;
    margin-top: -35px;
    font-weight: 600;
}

.sub_nm{
    /*margin-top: 15px!important;*/
    font-size: 14px;
    /*border: 1px solid #9c4104;*/
    padding-top: 15px;
}

.sub_r_span{
    position: absolute;
    margin-top: -5px;
    margin-left: -45px;
    width: 80px;
    cursor: default;
}
.sub_ratin_star{
    width: 15px;
    height: 10px;
    overflow: hidden;
    box-sizing: border-box;
    border: none;
    margin-right: -6px;
}
.sub_rater{
    width: 65px;
    margin-left: 55px;
    margin-top: -5px;
    padding-top: 2px;
    height: 20px;
    color: gray;
    border: 1px solid rgba(203, 202, 202, 0.15);
    font-size: 10px;
    position: absolute;
    box-shadow: 0 1px 1px rgb(21, 189, 167);
    cursor: default;
}

.sub_cont{
    width: var(--all_width);
    height: 400px;
    display: block;
    justify-content: center;
    text-align: center;
    box-shadow: 0 1px 3px rgb(21, 189, 167);
    border-radius: 6px;
    margin-left: 0;
    margin-right: 45px;
    margin-bottom: 30px;
}

.is_chk{
    background: #5cb17f;
    width: 27px;
    height: 27px;
    padding-right: 3px;
    cursor: default;
    border-radius: 50%;
    justify-content: center;
    position: absolute;
    margin-top: -210px;
    margin-left: 225px;
    border: 3px solid white;
    line-height: 20px;
}
.is_chk b{
    color: white;
    font-weight: bold;
    font-size: 11px;
    font-style: italic;
}

.sub_prd_img_div{
    width: 100%;
    height: 50%;
    /*border: 2px solid #9c4104;*/
    box-sizing: border-box;
}

.sub_prd_image{
    width: 100%;
    height: 100%;
    border-radius: 6px 6px 0 0;
}
#sub_new_height{
    width: 100%;
    height: 80% !important;
    border-radius: 6px 6px 0 0;
}


.sub_color_size{
    height: 20%;
    width: 100%;
    border-bottom: 1px solid rgba(196, 193, 193, 0.51);
    box-sizing: border-box;
    display: block;
    /*border: 1px solid coral;*/
}
#sub_prod_clr{
    height: 100%;
    width: 48%;
    border: 1px solid #c4c1c1;
    border-bottom: none;
    border-top: none;
    border-left: none;
    color: white;
    background: #0f6674;
    float: left;
    outline: none!important;
    padding-left: 5%;
    font-weight: 500;
    font-size: 12px;

}
#sub_prod_sze{
    height: 100%;
    width: 48%;
    border: 1px solid #c4c1c1;
    border-bottom: none;
    border-top: none;
    border-right: none;
    outline: none!important;
    padding-left: 5%;
    font-weight: 500;
    font-size: 12px;
    color: white !important;
    background: #0f6674;
    float: right;
    right: 0;
}

.sub_prc{
    font-size: 16px;
    color: #086e87;
    font-weight: bold;
    font-family: Bahnschrift, serif;
    margin-top: 10px;
}
.sub_prom{
    font-size: 12px;
    color: #343434;
    font-weight: bold;
    font-family: Bahnschrift, serif;
}

.sub_desc{
    font-size: 11.5px!important;
    /*border: 1px solid #9c4104;*/
    padding: 20px ;
    height: 90px!important;
}

.sub_np{
    /*border: 1px solid coral;*/
    border-radius: 4px;
    height: 50%;
}

.sub_add{
    /*border: 1px solid #9c4104;*/
    margin-top: -35px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
}
.sub_btn-group{
    margin-left: 15px;
    border: none;
    background: #1fb6b6;
    color: white;
    font-size: 11px;
    width: 150px;
    text-align: center;
    justify-content: center;
    box-shadow: 0 1px 3px rgb(21, 189, 167);
    border-radius: 4px;
    padding-top: 8px;
    height: 30px;
    transition-duration: .2s;
    text-decoration: none!important;
    font-weight: 300;
    outline: none!important;
}

#sub_ad{
    padding-bottom: 7px;
}
.sub_btn-group:hover{
    border: solid 1px  #1fb6b6;
    background:none;
    color: #1fb6b6;
    font-weight: bold;
    margin-top: -10px;

}


/***Debut de la 2em section***/
#sub_sec2{
    border-left: 5px solid rgba(89, 199, 227, 0.3);
    width: var(--article_width);
    height: auto;
    margin-left: 5%;
}

#sub_blog_sec1{
    width: 100%;
    height: 307%;
    float: right;
    margin-top: 10px;
    margin-right: 80px;
}

#sub_category{
    width: 100%;
    padding: 20px;
    background: rgba(248, 248, 248, 0.91);
    border-right: 1px solid #04d9ec;
    margin-top: 100px;
}

#sub_ctr{
    margin-bottom: 30px;
    font-size: var(--article_size1);
    font-weight: var(--article_weight1);
}

#sub_fnc{
    margin-bottom: 50px;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top: 1px solid #04d9ec;
    cursor: pointer;
    padding-top: 10px;
}
#sub_fnc:hover{
    color: #04d9ec;
}

#sub_crpm{
    margin-bottom: 50px;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top: 1px solid #04d9ec;
    cursor: pointer;
    padding-top: 10px;
}
#sub_crpm:hover{
    color: #04d9ec;
}

#sub_vcrc{
    margin-bottom: 50px;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top: 1px solid #04d9ec;
    cursor: pointer;
    padding-top: 10px;
}
#sub_vcrc:hover{
    color: #04d9ec;
}


.blog_post___{
    position: absolute!important;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    width: 300px;
    height: 385px;
    z-index: 2222111118;
    box-shadow: 0 0 0 55em rgba(92, 92, 92, 0.39);
    margin-top: 30px;
    padding-top: 2%;
    left: 38%;
    display: none;
}
.blog_post___ input, textarea{
    width: 210px;
    height: 35px;
    outline: none!important;
    border: 0.5px solid #bab8b8;
    border-radius: 3px;
    padding-left: 5px;
    margin-bottom: 10px;
    font-size: 11px;
}
.blog_post___ textarea{
    min-height: 120px;
    max-height: 150px;
}
.blog_post___ legend{
    text-align: left;
    margin-left: 15.5%;
}
.blog_post___ .btn{
    text-align: center;
    background-color: darkcyan;
    border: none;
    padding-left: 30%;
}
.blog_post___ button{
    position: absolute;
    float: right;
    right: 8px;
    top: 5px;
    outline: none!important;
}

