body{
    padding: 0;
    margin-top: 0;
    /*border: 1px solid #28dc14;*/
    height: 563px;
    font-family: Tahoma, serif;
}
label{
    color: #4b4848;
    margin-left: 0;
    /*border: 1px solid #0f34a3;*/
    width: 220px;
    font-size: 12px;
    font-weight: normal;
}
input, select{
    border: 0.5px solid #b3afaf;
    width: 220px;
    height: 35px;
    border-radius: 4px;
    outline: none;
    background-color: transparent;
    color: #454444;
    float: right;
    font-size: 12px;
    padding-left: 5px;
}
select{
    color: #242323;
}
input::placeholder{
    color: #151313;
}
mark{
    background: none!important;
    font-size: 12px;
}

.s_ttl{
    width: 200px;
    /*border: 1px solid coral;*/
    color: #7b7979;
    font-weight: bold;
    font-size: 17px;
    height: 60px;
    text-align: center;
    margin-top: -25px;
    margin-left: 10px;
    font-family: Bahnschrift, serif;
}
.s_ttl p{
    font-size: 15px;
}


#s_signin_form_div{
    border: 1px solid rgba(213, 211, 211, 0.79);
    position: absolute;
    top: 0;
    max-width: 27%;
    width: auto;
    min-height: 95%;
    height: auto;
    margin-top: 1%;
    display: block;
    justify-content: center;
    align-items: center;
    transform: translateX(130%);
    background-color: transparent;
    border-radius: 4px;
    padding-top: 3%;
    padding-left: 5%;
}

#s_sec1_signin{
    /*border: 1px solid #0f7a84;*/
    width: 100%;
    height: 100%;
    top: 0;
}
.s_signup__img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background: center center no-repeat;
}

#s_cnnct_sign{
    font-weight: bold;
    color: black;
    transition-duration: .6s;
}
#s_cnnct_sign:hover{
    background-color: #098746;
    border: none;
    color: white;
}

#s_already{
    font-size: 12px;
    float: left;
    left: 18.5%;
    width: 220px;
    position: absolute;
    margin-top: 100px;
    border: 1px solid gray;
    padding: 6px;
    border-radius: 2px;
    text-decoration: none;
    color: black;
    text-align: center;
    transition-duration: .6s;
}
#s_already:hover{
    background-color: #0a7f75;
    border: none;
    color: white;
}
