body{
    padding: 0;
    margin-top: 0;
    /*border: 1px solid #28dc14;*/
    height: 563px;
    font-family: Tahoma, serif;
}
label{
    color: #4b4848;
    margin-left: 0;
    /*border: 1px solid #0f34a3;*/
    width: 220px;
    font-size: 12px;
    font-weight: normal;
}
input, select, textarea{
    border: 0.5px solid #b3afaf;
    width: 220px;
    height: 35px;
    border-radius: 3px;
    outline: none;
    background-color: transparent;
    color: #454444;
    float: right;
    font-size: 12px;
    padding-left: 5px;
}

input::placeholder{
    font-size: 11px;
    text-transform: uppercase;
    color: rgba(179, 177, 177, 0.8) !important;
}

textarea{
    min-height: 100px;
    max-height: 300px;
}

select{
    color: #242323;
}
input::placeholder{
    color: #151313;
}
mark{
    background: none!important;
    font-size: 12px;
}

.s_ttl_2{
    width: 200px;
    /*border: 1px solid coral;*/
    color: #7b7979;
    font-weight: bold;
    font-size: 14px;
    height: 60px;
    text-align: center;
    margin-top: -25px;
    margin-left: 10px;
    font-family: Bahnschrift, serif;
}
.s_ttl_2 p{
    font-size: 13px;
}

.s_signin_form_div_2{
    border: 1px solid rgba(194, 192, 192, 0.79);
    position: absolute;
    max-width: 50%;
    width: auto;
    min-height: 85%;
    height: auto;
    margin-top: 30px;
    display: block;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    background-color: transparent;
    border-radius: 4px;
    padding-top: 5%;
    padding-left: 10%;
}

#s_pw_2:hover, #s_pw_c_2:hover{
    background-color: #0a7f75;
    border: none;
    color: white;
}

#s_sec1_signin_2{
    width: 100%;
    height: 100vh;
    position: relative;
    flex-wrap: wrap;
    display: flex;
}
.s_signup__img_2{
    width: 100%;
    height: 100%;
    background-size: cover;
    background: center center no-repeat;
}

#s_cnnct_sign_2{
    font-weight: bold;
    color: black;
    transition-duration: .6s;
    margin-top: 20px;
}
#s_cnnct_sign_2:hover{
    background-color: #098746;
    border: none;
    color: white;
}

#s_already_2{
    font-size: 12px;
    float: left;
    left: 18.5%;
    width: 220px;
    position: absolute;
    margin-top: -10px;
    border: 1px solid gray;
    padding: 6px;
    border-radius: 2px;
    text-decoration: none;
    color: black;
    text-align: center;
    transition-duration: .6s;
}
#s_already_2:hover{
    background-color: #0a7f75;
    border: none;
    color: white;
}

#s_pw_2{
    border: none;
    margin-top: 5px;
    height: 27px;
    font-size: 11px;
    color: black;
}
#s_pw_2:hover {
    background-color: white;
    color: black;
}



.smartbtn{
    border: none;
    width: 105%;
    background-color: cadetblue;
    color: white;
    border-radius: 4px;
    font-size: 12px;
    text-transform: uppercase;
    padding: 8px;
    outline: none!important;
}


.cni-img-div{
    display: block;
    position: absolute;
    /* border: 1px solid coral; */
    width: 57%;
    top: 0;
    margin-left: 90%;
}
.cni-img-div img{
    /* border: 1px solid coral; */
    width: 105%;
    height: 15%;
    margin-left: 0;
    border-radius: 5px;
    margin-bottom: 10px;
}

.reg-2Form_div{
    width: 60%;
    height: auto;
    float: left;
    background-color: #fff;
    box-sizing: border-box;
    display: flex;
    position: relative;
}

.regComm{
    width: 40%;
    height: auto;
    padding: 10px;
    background-color: #1d1d1d;
    color: white;
    font-size: 11px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

