body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: rgba(243, 243, 243, 0.85) !important;
    -webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;
}

.sett_sec1{
    /*border: 1px solid coral;*/
    background: #099ba0;
    height:75px;
    width: 100%;
    padding: 20px 200px 0 20px;
    position: sticky;
    top: 0;
    z-index: 99999999;
    box-shadow: 1px 2px 3px 2px #c4c4c4;
}

.div_sec1 form{
    width: 48.5%;
    height: 40px;
    /*border: 1px solid coral;*/
    margin-top: -3%;
    margin-left: 32.6%;
}

.div_sec1 h5{
    color: white;
    margin-left: 12px;
}

.sett_cls{
    width: 180px;
    height: 38px;
    outline: none;
    font-size: 12px;
    font-weight: bold;
    margin-left: 1035px;
    margin-top: -40px;
    color: white;
    border: 1px solid #099ba0;
    border-radius: 3px;
    background: #099ba0;
    position: absolute;
    box-shadow: 0 1px 3px rgb(32 32 2);
}

.div_sec1 form input{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 3px;
    outline: none;
    background-color: #0f6674;
    padding-left: 10px;
    color: white;
}

.div_sec1 form input::-webkit-search-cancel-button{
    cursor: pointer;
    margin-right: 10px!important;
}


.sett_search::placeholder{
    color: white;
    font-size: 15px;
}
/******************************************************************************/

.sett_sec2{
    width: 20%;
    border-radius: 0;
    height: 100%;
    /*border: 1px solid coral;*/
    position: sticky;
    top: 12%;
}

.options{
    border-left: none;
    border-top: none;
    border-left: none;
    border-bottom: none;
    border-right: 1px solid rgba(167, 164, 164, 0.45);
    top: 0;
    padding-left: 30px;
    padding-top: 40px;
}

.options p{
    font-weight: bold;
    font-size: 12.5px;
    color: #5e5c5c;
    cursor: pointer;
    margin-bottom: 35px;
    /*border: 1px solid coral;*/
}

.ic{
    width: 20px;
    height: 20px;
    margin-right: 15px;
}
/*****************************************************************************/

.using table{
    background: white!important;
    width: 100%;
    height: 430px!important;
    border: 1px solid rgba(134, 130, 130, 0.53);
    border-spacing: 0;
    border-collapse: collapse;
    border-radius: 3px!important;
    overflow: hidden;
    box-shadow: 0 1px 3px rgb(32 32 32);
    flex-wrap: wrap;
}

.theme table{
    background: white!important;
    width: 100%;
    height: 250px!important;
    border: 1px solid rgba(134, 130, 130, 0.53);
    border-spacing: 0;
    border-collapse: collapse;
    border-radius: 3px!important;
    overflow: hidden;
    box-shadow: 0 1px 3px rgb(32 32 32);
    flex-wrap: wrap;
}

.confidentiality table{
    background: white!important;
    width: 100%;
    height: 210px!important;
    border: 1px solid rgba(134, 130, 130, 0.53);
    border-spacing: 0;
    border-collapse: collapse;
    border-radius: 3px!important;
    overflow: hidden;
    box-shadow: 0 1px 3px rgb(32 32 32);
    flex-wrap: wrap;
}

.payment table{
    background: white!important;
    width: 100%;
    height: 75px!important;
    border: 1px solid rgba(134, 130, 130, 0.53);
    border-spacing: 0;
    border-collapse: collapse;
    border-radius: 3px!important;
    overflow: hidden;
    box-shadow: 0 1px 3px rgb(32 32 32);
    flex-wrap: wrap;
}

tr{
    cursor: pointer;
    border: 1px solid #eee8e7;
}
td{
    padding-left: 20px!important;
    padding-top: 15px!important;
    height: 40px!important;
}
h6{
    font-size: 12px!important;
    color: #6c6a6a;
}

.sett_sec3{
    width: 41.7%;
    height: auto;
    top: 0;
    margin-left: 28.3%;
    margin-top: -23.2%;
    margin-bottom: 100px;
    /*border: 1px solid coral;*/
}

.using, .theme, .confidentiality, .payment{
     padding: 10px;
}

.using p, .theme p, .confidentiality p, .payment p{
    font-size: 13px;
    color: #2d2c2c;
    font-family: Bahnschrift, serif;
}

.ict{
    width: 20px;
    height: 20px;
    margin-right: 20px;
}
/**************************************************************************/

.sett_sec4{
    width: 20%;
    height: 435px;
    margin-left: 75%;
    margin-top: -101.5%;
    margin-bottom: 100px;
    background: white!important;
    border: 1px solid rgba(199, 198, 198, 0.53);
    border-spacing: 0;
    border-collapse: collapse;
    border-radius: 3px!important;
    overflow: hidden;
    box-shadow: 0 1px 3px rgb(32 32 32);
    flex-wrap: wrap;
    position: fixed;
}

.div_sec4{
    /*border: 1px solid crimson;*/
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}
.div_sec4 span b{
    color: #0a0000!important;
}

.div_sec4 h5{
    /*border: 1px solid crimson;*/
    text-align: center;
    color: black;
    font-size: 15px!important;
    margin-top: 10px;
}


.usg, .them, .secur, .pay, .sett_ttl{
    padding-left: 40px;
    text-align: left;
    height: auto;
    width: 100%;
}


.div_sec4 span .sett_btn_usg{
    border:none;
    text-align: center;
    color: #fff;
    font-size: 14px!important;
    margin-top: 10px;
    background: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    outline: none;
    cursor: default;
    margin-left: 15px;
    box-shadow: 0 1px 3px rgb(32 32 2);
    background-color: crimson;
}
.div_sec4 span .sett_btn_them{
    border: none;
    background-color: #e87b07!important;
    text-align: center;
    margin-left: 7px;
    color: #fff;
    font-size: 14px!important;
    margin-top: 10px;
    background: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgb(32 32 2);
    outline: none;
    cursor: default;
}
.div_sec4 span .sett_btn_secur{
    border:none;
    margin-left: -2px;
    background-color: #282ea1 !important;
    text-align: center;
    color: #fff;
    font-size: 14px!important;
    margin-top: 10px;
    background: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgb(32 32 2);
    outline: none;
    cursor: default;
}
.div_sec4 span .sett_btn_pay{
    border:none;
    margin-left: -5px;
    background-color: #5fa80b !important;
    text-align: center;
    color: #fff;
    font-size: 14px!important;
    margin-top: 10px;
    background: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgb(32 32 2);
    outline: none;
    cursor: default;
}
.div_sec4 span .sett_btn_ttl{
    border: 3px;
    margin-left: 18px;
    text-align: center;
    color: black;
    font-size: 16px!important;
    margin-top: 10px;
    background: none;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgb(32 32 2);
    outline: none;
}

.div_sec4 span b{
    /*border: 1px solid crimson;*/
    margin-right: 15px;
    font-size: 13px;
    width: 60px!important;
    color: gray;

}
/****************************************************************************/

.sett_i_Sub:hover, .sett_i_desc:hover, .sett_i_desc:hover, .sett_cp_sbmt:hover{
    background-color: #75db8c;
}

.sett_inSub{
    width: 380px;
    height: 38px;
    border: 1px solid #dbd8d8;
    border-radius: 3px;
    outline: none;
    font-size: 12px;
    padding-left: 8px;
}
.sett_i_Sub{
    padding: 9px;
    width: 120px;
    color: white;
    background-color: #179da1;
    font-size: 12px;
    border: none;
    border-radius: 3px;
    position: relative;
    font-family: Bahnschrift, serif;
    transition-duration: .8s;
    margin-bottom: 8px;
}

.sett_inDesc, .sett_inRl{
    width: 95%;
    max-height: 300px;
    min-height: 150px;
    border: 1px solid #dbd8d8;
    border-radius: 3px;
    outline: none;
    margin-top: 5px;
    font-size: 13px;
    padding-left: 8px;
}
.sett_i_desc, .sett_i_rl{
    /*height: 40px;*/
    height: 40px;
    width: 95%;
    color: white;
    background-color: #179da1;
    font-size: 13px;
    border: none;
    border-radius: 3px;
    position: relative;
    font-family: Bahnschrift, serif;
    transition-duration: .8s;
    margin-bottom: 10px;
}

.sett_i_desc:hover, .sett_i_rl:hover{
    background-color: #4bb655;
    transition: .9s linear;
}

.in_cp{
    width: 380px;
    height: 32px;
    border-radius: 3px;
    outline: none;
    border: none;
    margin-top: 15px;
    font-size: 11px!important;
}
.sett_cp_sbmt{
    /*height: 40px;*/
    padding-bottom: 5.9px;
    padding-top: 12.5px;
    width: 120px;
    color: white;
    background-color: #179da1;
    font-size: 13px;
    border: none;
    border-radius:3px;
    position: relative;
    font-family: Bahnschrift, serif;
    transition-duration: .8s;
    margin-bottom: 10px;
}

#tbod tr td form, #_s_fc{
  display: none;
}

.pa_slct, .lt_slct, .dv_slct, .shp_slct, .cn_slct, .hp_slct{
    width: 95%;
    height: 38px;
    border: 1px solid #dbd8d8;
    border-radius: 3px;
    outline: none;
    margin-top: 5px;
    margin-bottom: 10px;
    padding-left: 10px;
    font-size: 11.5px;
}

.yes_no{
    display: none;
}
.yes, .no{
    border: none;
    width: 40%;
    height: 40px;
    color: white;
    background-color: #0f6674;
    border-radius: 3px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    outline: none!important;
    font-size: 13px;
    transition-duration: .8s;
}
.yes:hover, .no:hover{
    background-color: #1f993a;
}

.light_dark{
    display: none;
    /*border: 1px solid crimson;*/
    width: 95%;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 180px;
}
#light, #dark{
    width: 120px;
    height: 150px;
    border-radius: 4px;
    padding: 5px;
    box-shadow: 0 1px 2px #a8a8a8;
    border: none;
}
.d_div{
    float: left;
}
.l_div{
    float: left;
    margin-left: 22%;
}


.__tb_clr td h5{
    border: none;
    padding: 5px;
    margin-bottom: 20px;
    font-size: 12px;
    width: 20%;
    margin-left: 25%;
    margin-top: 3%;
    text-align: center;
    cursor: pointer;
    color: #747070;
    box-shadow: 0 1px 2px #2b2a2a;
    display: none;
}
.__tb_clr td h5:hover{
    background-color: #0865b3;
    color: white;
}

.colr{
    border: 1px solid rgba(208, 206, 206, 0.66);
    width: 25%;
    height: 76%;
    float: right;
    margin-right: 20%;
    margin-top: -52%;
    text-align: center;
    padding-top: 15px;
    display: none;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
    transition-duration: .8s;
}
.colr:hover{
    border: 1px solid #0acec7;
    /*transition-duration: .8s;*/
}
.colr input{
    box-shadow: 0 1px 2px #2b2a2a;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-bottom: 5px;
    margin-right: 5px;
}
.sett_green{
    background-color: #55bf6d;
}
.sett_bleu{
    background-color: #4169e1;
}
.sett_orange{
    background-color: #ff7f50;
}
.sett_Dcyan{
    background-color: darkcyan;
}
.sett_crimson{
    background-color: #dc143c;
}
.sett_violet{
    background-color: #b509a3;
}
.sett_black{
    background-color: #000;
}
.sett_gray{
    background-color: #5e5d5d;
}
.sett_white{
    box-shadow: 1px 2px 4px 5px #b8b7b7;
    background-color: #fff;
}
.sett_cyan{
    background-color: #00ffff;
}

.sett_inSk{
    width:95%;
    height: 38px;
    border: 1px solid #dbd8d8;
    border-radius: 3px;
    outline: none;
    margin-top: 5px;
    text-align: center;
}

.sett_inSk::placeholder{
    color: #bfbcbc;
}

.sett_i_GEN, .sett_i_Sav{
    margin-right: 5%;
    padding-bottom: 5.9px;
    padding-top: 12.5px;
    width: 220px;
    color: white;
    background-color: #179da1;
    font-size: 13px;
    border: none;
    border-radius: 3px;
    position: relative;
    font-family: Bahnschrift, serif;
    transition-duration: .8s;
    margin-bottom: 10px;
    margin-left: 2%;
    margin-top: 15px;
}
.sett_i_GEN:hover, .sett_i_Sav:hover{
    background-color: #38a754;
}

#p__pi, #cmt__pi, .pm__form{
    display: none;
    /*border: 1px solid coral;*/
    width: 95%;
    padding-left: 8%;
    margin-bottom: 15px;
}

#p__pi div, #cmt__pi div, .pm__form div{
    border: 1px solid rgba(199, 199, 198, 0.73);
    width: 90%;
    height: 40px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-left: 5px;
    font-size: 13px;
    font-family: Bahnschrift, sans-serif;
}

#p__pi div input, #cmt__pi div input , .pm__form div input{
    float: right;
    margin-right: 2%;
    width: 20px;
    height: 20px;
}

#p__pi h4, #cmt__pi h4, .pm__form h4{
    color: white;
    background-color: #747272;
    width: 110px;
    /*width: auto;*/
    height: 28px;
    border-radius: 3px;
    padding-top: 8px;
    text-align: center;
    font-size: 11px;
    border: none;
    font-weight: normal;
    margin-left: 30%;
    flex-wrap: wrap;
    cursor: default;
    display: none;
    transition: 1s ease-in-out;
}



/*************************************************************************/
.__tb_sn, .__tb_desc, .__tb_cp, .__tb_pa, .__tb_mt, .__tb_lt, .__tb_shp, .__tb_dv, .__tb_th, .__tb_cn, .__tb_clr,
.__tb_hp, .__tb_sk, .__tb_pi, .__tb_cmt, .__tb_rl, .pm__mth{
    position: relative;
    /*border: 1px solid coral;*/
}

.__tb_sn button, .__tb_desc button, .__tb_cp button, .__tb_pa button, .__tb_clr button, .__tb_hp button,
.__tb_mt button, .__tb_lt button, .__tb_shp .close, .__tb_dv button, .__tb_th button, .__tb_cn button
, .__tb_sk button, .__tb_pi button, .__tb_cmt button, .__tb_rl button, .pm__mth button{
    position: absolute;
    font-size: 18px;
    right: 5px;
    top: 1%;
    outline: none;
    background-color: transparent;
    display: none;
}

#s_mp_{
    margin-top: 15px;
    font-size: 11.5px;
}
#s_mp_ div{
    margin-top: 15px;
    margin-bottom: 8px;
}

#s_mp_ div span{
    float: right;
    margin-right: 25px;
}

#s_mp_ h4{
    font-size: 11px;
    background-color: gray;
    color: white;
    width: 110px;
    height: 25px;
    margin-left: 35%;
    border-radius: 3px;
    text-align: center;
    padding-top: 5px;
    display: none;
}

.l_div a, .d_div a{
    background-color: royalblue!important;
    color: #fff!important;
    font-size: 14px;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: default;
    width: 20px;
    height: 20px;
    position: absolute;
    margin-left: 20%;
    margin-top: -2%;
}